@charset "UTF-8";
body {
	background-color: #304057;
	background-clip: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}
.navbar.navbar-default {
}
.carousel-inner .item .center-block {
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

.navbar {
  background-color: #601336;
}
.nav.navbar-nav .dropdown .dropdown-menu { 
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #7f658c;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #7f658c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #7f658c;
  background-color: #bd8793;
}
.dropdown .dropdown-menu .divider {
	background-color: #7F658C;
}
.navbar .navbar-toggle {
  border-color: #bd8793;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #bd8793;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #601336;
}
.navbar .navbar-link {
  color: #601336;
}
.navbar .navbar-link:hover {
  color: #7f658c;
}
.nav.navbar-nav .dropdown .dropdown-menu {
	float: none;
	font-family: "Museo Sans 500", "Museo Sans 500 Italic", "Museo Sans 300 Italic";
	font-style: normal;
	font-weight: 400;
}
.item.active.col-lg-offset-0 .carousel-caption audio {
	margin-top: 0px;
	left: 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: none;
	clear: none;
	opacity: 0.21;
}
body h1 {
	right: 0px;
	text-align: right;
}
.col-lg-5.col-lg-offset-6 {
	color: #FFFFFF;
	margin-top: 21px;
}
#greentea {
	width: windowwidth;
}
.container-fluid .nav.navbar-nav.navbar-right .navbar-brand {
	font-size: 0px;
	background-image: url(../images/Safe_Space_Logo.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.row .col-lg-12 .img-circle.img-responsive {
	width: 386px;
	height: 581px;
	margin-left: 185px;
}
.item .carousel-caption p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: x-large;
	font-weight: 900;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7f658c;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7f658c;
    background-color: #bd8793;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7f658c;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7f658c;
    background-color: #bd8793;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7f658c;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7f658c;
    background-color: #bd8793;
  }
}

@media (max-width: 1200px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #601336;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #7f658c;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #7f658c;
    background-color: #bd8793;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
	color: #ecf0f1;
	background-color: #7F658C;
}
.col-lg-offset-5.col-lg-6 {
	color: #FFFFFF;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #7f658c;
  background-color: #bd8793;
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: #F9F9F9;
	padding: 25px;
	position: absolute;
	margin-top: 0px;
	margin-left: 518px;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
